<div style="border: 1px solid black; padding: 1em; margin: 1em 0;">
<a href="https://engram.sh?utm_source=devtails" style="display: flex; align-content: center; align-items: center; text-decoration: none; color: inherit;">
  <img src="/assets/img/engram-square-logo.png" style="height: 100px; width: 100px"/>
  <div style="margin-left: 16px">
    <div style=" font-weight: bold; text-decoration: none;">Engram</div>
    <div style="color: inherit; text-decoration: none;">Tired of slow build times? Deploy your creations at the speed of thought with Engram.</div>
  </div>
</a>
</div>