<a href="https://kaizen.place/about?utm_source=devtails" style="color: white; text-decoration: none; display: flex; justify-content: center; margin: 8px 0">
  <div
    style="font-family: Space Mono,monospace; display: flex; align-items: center; justify-content: center; width: 100%; background-color: #393a42; box-shadow: 0 1px 4px 1px hsl(0deg 0% 0% / 10%);">
    <div style=" text-align: center; padding: 8px">
      <img
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAyIiBoZWlnaHQ9IjgwMiIgdmlld0JveD0iMCAwIDgwMiA4MDIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwKSI+CiAgICA8ZWxsaXBzZSBjeD0iNDAwLjg2MiIgY3k9IjQwMS4yMDUiIHJ4PSIyODYuMjE4IiByeT0iMjg2LjIwNSIgZmlsbD0iI0Y5M0Y0MyIgLz4KICAgIDxyZWN0IHdpZHRoPSIyOTMuMjY3IiBoZWlnaHQ9IjEyNy42NzQiIHRyYW5zZm9ybT0ibWF0cml4KDAuNzA3MTIzIDAuNzA3MDkxIC0wLjcwNzEyMyAwLjcwNzA5MSA5MC4yODEyIDMxNS42OTEpIiBmaWxsPSIjRjkzRjQzIiAvPgogICAgPGVsbGlwc2UgY3g9IjQwMC44NjMiIGN5PSI0MDEuMjA1IiByeD0iODEuNzc2NiIgcnk9IjgxLjc3MjkiIGZpbGw9IiNGRkRFQ0QiIC8+CiAgPC9nPgogIDxkZWZzPgogICAgPGNsaXBQYXRoIGlkPSJjbGlwMCI+CiAgICAgIDxyZWN0IHdpZHRoPSI4MDIiIGhlaWdodD0iODAyIiBmaWxsPSJ3aGl0ZSIgLz4KICAgIDwvY2xpcFBhdGg+CiAgPC9kZWZzPgo8L3N2Zz4="
        width="60" height="60" />
      <div style="color: #f93f43; font-weight: 700; font-size: 18;">Kaizen</div>
    </div>
    <div style="margin-left: 8px;">
      Share more than the music, share the story.
    </div>
  </div>
</a>