<div style="border: 1px solid black; padding: 1em; margin: 1em 0;">
  <a href="https://kaizen.place?utm_source=devtails"
    style="display: flex; justify-content: center; align-content: center; align-items: center; text-decoration: none; color: inherit;">
    <img src="https://kaizen.place/dist/kaizen-logo-NVOQTPSO.svg" style="height: 100px; width: 100px" />
    <div style="margin-left: 16px">
      <div style=" font-weight: bold; text-decoration: none;">kaizen.place</div>
      <div style="color: inherit; text-decoration: none;">Github for Music</div>
    </div>
  </a>
</div>