<ul class="social-media-list">
  <li><a href="https://medium.com/@devtails"><span class="username">Follow on Medium</span></a></li>
  {%- if site.social.twitter -%}<li><a
      href="https://www.twitter.com/{{ site.social.twitter| cgi_escape | escape }}"><svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
      </svg> <span class="username">{{ site.social.twitter | escape }}</span></a></li>{%- endif -%}
  {%- if site.rss -%}<li><a href="{{ 'feed.xml' | relative_url }}"><svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
      </svg> <span>{{ site.rss | escape }}</span></a></li>{%- endif -%}
</ul>