---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if page.author -%}
    {% assign posts = site.posts | where_exp: "item", "item.author contains page.author" %}
  {%- endif -%}
  {%- if page.tag -%}
    {% assign posts = site.posts | where_exp: "item", "item.tags contains page.tag" %}
  {%- endif -%}
  {%- if page.ascending -%}
    {% assign posts = posts | reverse %}
  {%- endif -%}
  {%- if posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in posts -%}
        {%- include post-preview.html -%}
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>