---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <span class="post-meta">
      {%- for tag in page.tags -%}
      <span class="mr-1">
        <a href="/tags/{{tag}}">#{{ tag }}</a>
      </span>
      {%- endfor -%}
    </span>
  </header>
  <div id="ad" class="text-center border px-4 py-4 mb-4"></div>
  <script>
    const ad = document.getElementById("ad");
    const ads = {
      dubsado: {
        body: 'Like solving difficult problems and live in Los Angeles? <a href="https://www.notion.so/Dubsado-Job-Board-d122c307a4bb4025a9c4f249e2608b2d" target="_blank">Join me at Dubsado</a>.'
      }, 
      kaizen: {
        body: 'Check out <a href="https://kaizen.place" target="_blank">Kaizen</a> where you can incrementally release your music or listen to other artists.'
      },
      engram: {
        body: 'Check out <a href="https://github.com/adamjberg/engram" target="_blank">engram</a> an open source application for quickly gathering thoughts.'
      }
    };
    const keys = Object.keys(ads);
    const randomIndex = Math.floor(Math.random() * keys.length);
    const key = keys[randomIndex];
    const adToUse = ads[key];
    ad.innerHTML = adToUse.body;
  </script>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  <div class="flex">
    {% if page.prev or page.nxt %}
      {% if page.prev %}
      <a class="flex-1" href="{{page.prev.url}}">&laquo; {{page.prev.title}}</a>
      {% endif %}
      {% if page.nxt %}
      <a class="flex-1" href="{{page.nxt.url}}">{{page.nxt.title}} &raquo;</a>
      {% endif %}
    {% else %}
      {% if page.previous.url %}
      <a class="flex-1" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
    
      {% if page.next.url %}
      <a class="flex-1" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
      {% endif %}
    {% endif %}
  </div>
</article>